.FilmListTableHeader {
    width: 80%;
    margin: 0 auto;
}

.FilmListTableHeader span {
    font-size: 22px;
}

.FilmListTableHeader span.sort {
    margin: 0 30px;
}


.filmItem {
    display: flex;
    margin: 40px 10px;


}

.descriptionSection {
    padding-left: 20px;
}

.descriptionSection div {
    padding: 10px;
}

.descriptionSection label {
    font-size: 22px;
}

.descriptionSection .title {
    font-size: 36px;
}

.loadMoreBtn {
    display: block;
    width: 100px;
    margin: auto;
    padding-bottom: 20px;
}