
input:focus{
    outline: none;
}

.search {
    display: block;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    font-size: 26px;
    margin: 100px auto;
    padding-left: 15px;
    border: 1px solid grey;
}

.FilmListTable {
    width: 80%;
    margin: 0 auto;
    align-items : center;
}

.FilmListTable span {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
}


.FilmListTable span.number {
    width: 100px;
}

.FilmListTable span.poster {
    width: 200px;
}

.FilmListTable span.title {
    width: 300px;
}


.FilmListTable span.sort {
    width: 200px;
}

.filmItem {
    height: 300px;
    overflow: hidden;
    display: flex;
    margin: 20px 0;
    padding-top: 20px;
    border-top: 1px solid lightgrey;
}


.filmItem span {
    font-size: 32px;
    margin-top: 120px;
    cursor: default;
}

.filmItem img {
    margin: 8px;
}

.filmItem title, description {
    display: block;
}

.generalInfo {
    display: flex;
}

.description {
    padding: 20px 50px;
    font-size: 24px;
    text-align: justify;
}

.loadMoreBtn {
    display: block;
    width: 100px;
    margin: auto;
    padding-bottom: 20px;
}